.chuj{
    -fx-background-color: black;
    -fx-background-radius: 5.0;
        -fx-padding: 8;
}
#hbox-custom {
    -fx-background-color: #000;
    -fx-display:flex;
    -fx-justify-content: flex-end;

    -fx-padding: 8;
}